.max-1520{
  max-width: 1520px !important;
}


.tj-copyright-area-2 .copyright-content-area {
  border-top: 1px solid var(--tj-color-text-body-2) !important;
  border-bottom: 1px solid var(--tj-color-text-body-2) !important;
}

.footer-main-area {
  padding: 25px 0 !important;
}
